<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MyFirstServlet</servlet-name>
        <servlet-class>MySource.MyFirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>MySource.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalcCubeServlet</servlet-name>
        <servlet-class>MySource.CalcCubeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RD_Servlet1</servlet-name>
        <servlet-class>MySource.RD_Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RD_Servlet2</servlet-name>
        <servlet-class>MySource.RD_Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Send_redirectServlet</servlet-name>
        <servlet-class>MySource.Send_redirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyFirstServlet</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcCubeServlet</servlet-name>
        <url-pattern>/CalcCubeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RD_Servlet1</servlet-name>
        <url-pattern>/RD_Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RD_Servlet2</servlet-name>
        <url-pattern>/RD_Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Send_redirectServlet</servlet-name>
        <url-pattern>/Send_redirectServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
